h1{
	color: red;
	font-family: cooper;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	border: 3px solid magenta;
}
b{
	color: pink;
	font-size: 45px;
}
.h6{
	color: black;
	font-family: cooper;
	text-align: center;
	text-transform: uppercase;
}
