h1{
	color: gray;
	font-family: sans-serif;
	text-align: center;
}
.kotak{
	padding: 75px;
	width: 75px;
	color: #fff;
	margin: 10px;
	background: red;
}
#kotak{
	padding: 100px;
	width: 100px;
	color: #fff;
	margin: 10px;
	background: black;
}